.app {
    margin: auto;
    width: 450px;
}
.header {
    font-size: 22px;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 15px;
}
.form {
    display: flex;
}
.form input {
    flex: 1;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    padding-left: 15px;

}
.form button {
    background-color: #634BF5;
    color: white;
    padding: 15px 30px;
    border: none;
    margin-left: 15px;
    border-radius: 3px;
}
.todos {}

.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #E5E5E5;
}
.favorite {
    padding: 0 15px;
}
.favorite button {
    font-size: 22px;
    padding: 7px;
    background-color: transparent;
    border: none ;
    cursor: pointer;
    outline: none;
}
.todo-text {
    flex: 1;
}
.actions {
    padding-right: 15px;
}
.actions button {
    color: red;
    background-color: transparent;
    border: none ;
    cursor: pointer;
    outline: none;
}
.selected {
    background-color: #FFF6D6;
}
.selected .favorite button {
    color: #FFD231;
}